/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [APPL_ID]
      ,[PRODUCT_TYPE]
      ,[PRODUCT_PROGRAM]
      ,[REGISTER_TYPE]
      ,[CARD_TYPE]
      ,[PREFIX_CUSTID]
      ,[CAMPAIGN_CODE]
      ,[EMPLOYMENT_STATUS]
      ,[OCCUPATION]
      ,[PAYMENT_METHOD]
      ,[PAYMENT_TYPE]
      ,[SALES_CHANNEL]
      ,[SALES_CODE]
      ,[SALES_NAME]
      ,[GL_CODE]
      ,[GL_NAME]
      ,[COST_CENTER]
      ,[UNIT_OFFICER_NAME]
      ,[UNIT_OFFICER_PHONE]
      ,[BRANCH_CODE]
      ,[BRANCH_NAME]
      ,[ZONE_CODE]
      ,[ZONE_NAME]
      ,[REGION_CODE]
      ,[REGION_NAME]
      ,[DUP_MAIN_CARD_TYPE]
      ,[BILLING_CUST_TYPE]
      ,[DIRECT_DEBIT_ACCT_NO]
      ,[APPLY_MOBILE_BANKING_FLAG]
      ,[CHARITY_FLAG]
      ,[CHARITY1]
      ,[CHARITY2]
      ,[CHARITY3]
      ,[CHARITY4]
      ,[CHARITY_ACTIVITY_CODE]
      ,[CARD_DELIVERY_CODE]
      ,[MAILING_ADDRESS_CODE]
      ,[SUBMIT_PROCESS]
      ,[SUBMIT_REASON]
      ,[SUBMIT_MEMO]
      ,[SUBMIT_TO]
      ,[REJECT_LETTER_NONNCB]
      ,[REJECT_LETTER_NCB]
      ,[REJECT_LETTER_NCB1]
      ,[REJECT_LETTER_NCB2]
      ,[REJECT_LETTER_NCB3]
      ,[DEVIATION_REVIEW]
      ,[DEVIATION_REASON]
      ,[DEVIATION_MEMO]
      ,[APPL_STATUS]
      ,[GEN_CLK_FILE_DATE]
      ,[CREATE_BY]
      ,[CREATE_DATE]
      ,[UPDATE_BY]
      ,[UPDATE_DATE]
      ,[CARD_BRAND]
      ,[DUP_APPL_FLAG]
      ,[VIP_FLAG]
      ,[FULFILL_FLAG]
      ,[FULFILL_DATE]
      ,[FULFILL_BY]
      ,[CARD_NUMBER]
      ,[ASCORE_FLAG]
      ,[NCB_STATUS]
      ,[NCB_ERROR_MESSAGE]
  FROM [apsweb2].[dbo].[APS_APPL_MASTER]

UPDATE [dbo].[APS_DOC_CHKLST_CRITERIA] 
SET Mandatory = 0
WHERE DocumentCheckListId IN (2,3) AND ProductType = 'RL';