/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [RELATION_ID]
      ,[PRODUCT_TYPE]
      ,[PRODUCT_TYPE_DESC]
      ,[CARD_BRAND]
      ,[CARD_BRAND_DESC]
      ,[CARD_TYPE]
      ,[CARD_TYPE_NAME]
      ,[PRODUCT_PROGRAM]
      ,[PRODUCT_PROGRAM_DESC]
      ,[EMPLOYMENT_STATUS]
      ,[EMPLOYMENT_STATUS_DESC]
      ,[CAMPAIGN_CODE]
      ,[CAMPAIGN_DESC]
      ,[ACTIVE_FLAG]
      ,[ACTIVE_STATUS]
      ,[UPDATE_BY]
      ,[UPDATE_DATE]
      ,[REGISTER_TYPE]
      ,[REGISTER_TYPE_DESC]
  FROM [apsweb2].[dbo].[VW_APS_MAP_RELATION] where PRODUCT_TYPE='CC' and REGISTER_TYPE=1 and CARD_BRAND='VS' and CARD_TYPE='202' and PRODUCT_PROGRAM='N11'