/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [APPL_ID]
      ,[CID]
      ,[CustomerName]
      ,[ProductType]
      ,[ProductProgram]
      ,[ProgramType]
      ,[CAMPAIGN_CODE]
      ,[CardType]
      ,[ApplicationType]
      ,[CREATE_DATE]
      ,[CREATE_BY_NAME]
      ,[ApplicationStatusName]
      ,[UserName]
      ,[User_role]
      ,[Channel]
      ,[SALES_CODE]
      ,[SALES_NAME]
      ,[GL_CODE]
      ,[GL_NAME]
      ,[COST_CENTER]
      ,[UNIT_OFFICER_NAME]
      ,[UNIT_OFFICER_PHONE]
      ,[BRANCH_CODE]
      ,[BRANCH_NAME]
      ,[ZONE_CODE]
      ,[ZONE_NAME]
      ,[REGION_CODE]
      ,[REGION_NAME]
      ,[LEGAL_MOBILE_NUMBER]
      ,[SALES_CHANNEL]
  FROM [apsweb1].[dbo].[VW_APS_RPT_DLY_DTL_APIN] where sales_channel='BR' ORDER BY APPL_ID,SALES_CHANNEL