USE [digitalsm_cpsdata]
GO
/****** Object:  StoredProcedure [dbo].[sp_TxnLG_Execute]    Script Date: 11/9/2019 8:11:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*MONCHIAN T.*/
    ALTER PROCEDURE [dbo].[sp_TxnLG_Execute]
    (
            @TxnID nvarchar(30),
            @TxnDate date = NULL,
            @ReqID nvarchar(30) = NULL,
            @LGNo nvarchar(20) = NULL,
            @OldLGNo nvarchar(20) = NULL,
            @ObjectiveID nvarchar(2) = NULL,
            @BEID nvarchar(38) = NULL,
            @AuthorityName nvarchar(100) = NULL,
            @LGAmt decimal(19,4) = NULL,
            @BenefitaryCode nvarchar(200) = NULL,
            @BeneDetail nvarchar(max) = NULL,
            @ScheduleFlag varchar(1) = NULL,
            @StartDate date = NULL,
            @EndDate date = NULL,
            @Detail nvarchar(max) = NULL,
            @Remark nvarchar(max) = NULL,
            @AttachedFileFlag varchar(1) = NULL,
            @SelectedFormFlag varchar(1) = NULL,
            @AuthorSign1 nvarchar(100) = NULL,
            @AuthorSign2 nvarchar(100) = NULL,
            @AuthorSignPosition1 nvarchar(100) = NULL,
            @AuthorSignPosition2 nvarchar(100) = NULL,
            @LGStockNo nvarchar(30) = NULL,
            @TxnStatus varchar(1) = NULL,
            @UserECU nvarchar(6) = NULL,
            @DateEntryStart datetime = NULL,
            @UserISSUEChecker nvarchar(6) = NULL,
            @DateEntryEnd datetime = NULL,
            @PrintedByUser nvarchar(6) = NULL,
            @PrintedDate datetime = NULL,
            @Printed varchar(1) = NULL,
            @DestOCCode nvarchar(4) = NULL,
            @AccountNo varchar(50) = NULL,
            @PartyID nvarchar(40) = NULL,
            @PartyName nvarchar(max) = NULL,
            @BirthDay date = NULL,
            @Nationality nvarchar(255) = NULL,
            @Citizenship nvarchar(255) = NULL,
            @DealNo decimal = NULL,
            @PartyType nvarchar(3) = NULL,
            @Married varchar(1) = NULL,
            @EmailAddress nvarchar(50) = NULL,
            @PhoneNo nvarchar(50) = NULL,
            @AddressNo nvarchar(25) = NULL,
            @Moo nvarchar(10) = NULL,
            @Soi nvarchar(40) = NULL,
            @Street nvarchar(50) = NULL,
            @Trok nvarchar(20) = NULL,
            @District nvarchar(40) = NULL,
            @Amphur nvarchar(40) = NULL,
            @ProvinceID nvarchar(50) = NULL,
            @PartyAge int = NULL,
            @AccountType nvarchar(30) = NULL,
            @AccountName nvarchar(255) = NULL,
            @AccountBranch nvarchar(255) = NULL,
            @EMobileNo nvarchar(10) = NULL,
            @EEmailAddress varchar(100) = NULL,
						@ELG varchar(1) = NULL,
						@Witness1 nvarchar(100) = NULL,
						@Witness2 nvarchar(100) = NULL,
						@EAccountNo varchar(50) = NULL,
						@RejectRemark varchar(200) = NULL,
						@BeneAddress varchar(300) = NULL,
						@DateECUAssign datetime = NULL,
						@BookingBranch nvarchar(20) = NULL,
						@Benefitarythirdparty nvarchar(255) = NULL,@BookingBranchCode nvarchar(4) = NULL,
            @FLAG CHAR(1)
    )
    AS
    IF(@FLAG = 'I') --INSERT FUNCTION
    BEGIN
        INSERT INTO [TxnLG]
            (
            [TxnID],
            [TxnDate],
            [ReqID],
            [LGNo],
            [OldLGNo],
            [ObjectiveID],
            [BEID],
            [AuthorityName],
            [LGAmt],
            [BenefitaryCode],
            [BeneDetail],
            [ScheduleFlag],
            [StartDate],
            [EndDate],
            [Detail],
            [Remark],
            [AttachedFileFlag],
            [SelectedFormFlag],
            [AuthorSign1],
            [AuthorSign2],
            [AuthorSignPosition1],
            [AuthorSignPosition2],
            [LGStockNo],
            [TxnStatus],
            [UserECU],
            [DateEntryStart],
            [UserISSUEChecker],
            [DateEntryEnd],
            [PrintedByUser],
            [PrintedDate],
            [Printed],
            [DestOCCode],
            [AccountNo],
            [PartyID],
            [PartyName],
            [BirthDay],
            [Nationality],
            [Citizenship],
            [DealNo],
            [PartyType],
            [Married],
            [EmailAddress],
            [PhoneNo],
            [AddressNo],
            [Moo],
            [Soi],
            [Street],
            [Trok],
            [District],
            [Amphur],
            [ProvinceID],
            [PartyAge],
            [AccountType],
            [AccountName],
            [AccountBranch],
            [EMobileNo],
            [EEmailAddress],[ELG],[Witness1],[Witness2],[EAccountNo],[RejectRemark],[BeneAddress],[DateECUAssign],[BookingBranch],[Benefitarythirdparty],[BookingBranchCode])
        VALUES
            (
            @TxnID,
            @TxnDate,
            @ReqID,
            @LGNo,
            @OldLGNo,
            @ObjectiveID,
            @BEID,
            @AuthorityName,
            @LGAmt,
            @BenefitaryCode,
            @BeneDetail,
            @ScheduleFlag,
            @StartDate,
            @EndDate,
            @Detail,
            @Remark,
            @AttachedFileFlag,
            @SelectedFormFlag,
            @AuthorSign1,
            @AuthorSign2,
            @AuthorSignPosition1,
            @AuthorSignPosition2,
            @LGStockNo,
            @TxnStatus,
            @UserECU,
            @DateEntryStart,
            @UserISSUEChecker,
            @DateEntryEnd,
            @PrintedByUser,
            @PrintedDate,
            @Printed,
            @DestOCCode,
            @AccountNo,
            @PartyID,
            @PartyName,
            @BirthDay,
            @Nationality,
            @Citizenship,
            @DealNo,
            @PartyType,
            @Married,
            @EmailAddress,
            @PhoneNo,
            @AddressNo,
            @Moo,
            @Soi,
            @Street,
            @Trok,
            @District,
            @Amphur,
            @ProvinceID,
            @PartyAge,
            @AccountType,
            @AccountName,
            @AccountBranch,
            @EMobileNo,
            @EEmailAddress,@ELG,@Witness1,@Witness2,@EAccountNo,@RejectRemark,@BeneAddress,@DateECUAssign,@BookingBranch,@Benefitarythirdparty,@BookingBranchCode)
    END
    ELSE IF(@FLAG = 'U') --UPDATE FUNCTION
    BEGIN
        UPDATE [TxnLG] SET 
            [TxnDate] = @TxnDate,
            [ReqID] = @ReqID,
            [LGNo] = @LGNo,
            [OldLGNo] = @OldLGNo,
            [ObjectiveID] = @ObjectiveID,
            [BEID] = @BEID,
            [AuthorityName] = @AuthorityName,
            [LGAmt] = @LGAmt,
            [BenefitaryCode] = @BenefitaryCode,
            [BeneDetail] = @BeneDetail,
            [ScheduleFlag] = @ScheduleFlag,
            [StartDate] = @StartDate,
            [EndDate] = @EndDate,
            [Detail] = @Detail,
            [Remark] = @Remark,
            [AttachedFileFlag] = @AttachedFileFlag,
            [SelectedFormFlag] = @SelectedFormFlag,
            [AuthorSign1] = @AuthorSign1,
            [AuthorSign2] = @AuthorSign2,
            [AuthorSignPosition1] = @AuthorSignPosition1,
            [AuthorSignPosition2] = @AuthorSignPosition2,
            [LGStockNo] = @LGStockNo,
            [TxnStatus] = @TxnStatus,
            [UserECU] = @UserECU,
            [DateEntryStart] = @DateEntryStart,
            [UserISSUEChecker] = @UserISSUEChecker,
            [DateEntryEnd] = @DateEntryEnd,
            [PrintedByUser] = @PrintedByUser,
            [PrintedDate] = @PrintedDate,
            [Printed] = @Printed,
            [DestOCCode] = @DestOCCode,
            [AccountNo] = @AccountNo,
            [PartyID] = @PartyID,
            [PartyName] = @PartyName,
            [BirthDay] = @BirthDay,
            [Nationality] = @Nationality,
            [Citizenship] = @Citizenship,
            [DealNo] = @DealNo,
            [PartyType] = @PartyType,
            [Married] = @Married,
            [EmailAddress] = @EmailAddress,
            [PhoneNo] = @PhoneNo,
            [AddressNo] = @AddressNo,
            [Moo] = @Moo,
            [Soi] = @Soi,
            [Street] = @Street,
            [Trok] = @Trok,
            [District] = @District,
            [Amphur] = @Amphur,
            [ProvinceID] = @ProvinceID,
            [PartyAge] = @PartyAge,
            [AccountType] = @AccountType,
            [AccountName] = @AccountName,
            [AccountBranch] = @AccountBranch,
            [EMobileNo] = @EMobileNo,
            [EEmailAddress] = @EEmailAddress,
						[EAccountNo]=@EAccountNo,
						[ELG]=@ELG,
						[Witness1]=@Witness1,
						[Witness2]=@Witness2,
						[RejectRemark]=@RejectRemark,
						[BeneAddress]=@BeneAddress,
						[DateECUAssign]=@DateECUAssign,
						[BookingBranch]=@BookingBranch,
						[Benefitarythirdparty]=@Benefitarythirdparty,
						[BookingBranchCode]=@BookingBranchCode
        WHERE 
            TxnID = @TxnID
        SELECT @TxnID AS TxnID
    END
    --GO
    --CREATE PROCEDURE sp_TxnLG_Select
    --(
    --        @TxnID nvarchar(30) = NULL,
    --        @FLAG CHAR(1)
    --)
    --AS
    --IF(@FLAG = 'A') --SELECT ALL
    --BEGIN
    --    SELECT * FROM [TxnLG] ORDER BY TXNID
    --END
    --ELSE IF(@FLAG = 'P') --SELECT BY PRIMARY KEY
    --BEGIN
    --    SELECT * FROM [TxnLG]
    --         WHERE TxnID = @TxnID
    --END
